<%= render partial: 'landing/page_header', locals: {object: @change} %>

<% if @change.errors.any? %>
    <div class="error_explanation" style="margin-top: 0px;">
      <div class="container">
        <%= pluralize(@change.errors.count, "error") %> prohibited this project from being saved.
      </div>
    </div>
<% end %>

<%= render 'layouts/messages' %>

<%= render 'form', change: @change %>
