<div class="container">

  <br/>
  <% present @project do |project_presenter| %>
      <%= bootstrap_form_for(project) do |f| %>


          <%= f.text_field :name, inline: true %>

          <%= f.text_area :description %>

          <%= f.submit class: 'btn btn-success pull-right' %>

      <% end %>
  <% end %>
</div>