@font-face {
  font-family: "RobotoSlab-Regular";
  src: url(/assets/RobotoSlab-Regular.ttf) format("truetype");

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 10px auto;
}

pre {
  background-color: #F9F9F9;
  #margin-left: -50px;
  #font-size: 11px;
  #color: black;
}

a {
  color: black;
  color: #303f9f;

  &:hover {
    color: #303f9f;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

label {
  display: block;
}

hr {

  margin: 5px 0;

}

.notice {
  background-color: #5cb85c;
  color: #fff;

  padding: 10px 0px;
  font-size: 18px;
  #margin-top: -20px;
  width: 100%;

  .container {
    padding-left: 30px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.error_explanation {
  background-color: #d9534f;
  color: #fff;

  padding: 10px 0px;
  font-size: 18px;
  margin-top: -20px;
  width: 100%;

  .container {
    padding-left: 30px;
  }
}

.step_label {

  display: inline-block;
  vertical-align: middle;
  color: white;

  label {
    border-radius: 0.2em;
    padding: 0px 4px 0px 12px;
  }

}

.au-navbar {
  border-radius: 0;
  color: white;

}

.download-link {

  display: inline-block;
  margin-bottom: 10px;
  color: green;

}

.show-action-header {
  background-color: #3f51b5;
  color: white;
  font-weight: 600;
  padding: 0px 0px 10px 0px;

  .btn-primary--power-menu {

    background-color: transparent;
    padding: 0;
    border: 0;

  }

  .btn-primary--power-menu:hover {
    text-decoration: underline;
  }

  .dropdown-toggle:active, .open .dropdown-toggle {
    background: transparent !important;
  }

  .dropdown-menu > li > a:hover {
    font-weight: bold;
    background-color: #3f51b5;
    color: white;
  }

}

.breadcrumb--larger {

  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: white;
  background-color: #303f9f;

  a {
    color: white;
  }

  .active {
    color: #c5cae9;
  }

  .glyphicon {
    display: block;
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 10px 0 10px;

  }
  li:before {
    display: none;
  }

}

.overlay {

  /* This adds the nice overlay. */

}

.pagination {
  display: block;
  width: 300px;
  margin: 0 auto;
}

/* fix auto complete in modal */
ul.ui-autocomplete {
  z-index: 1100;
}

.footer-basic {

  width: 100%;
  margin-top: 80px;
  bottom: 0;
  height: 100%;

  background-color: #062F4F;
  color: white;

}

